.posts-wrapper
  .row.profile-header
    .col-xs-4
      .img-circle
        = profile_avatar_select(@user)
    .col-xs-8.profile-details
      .username-and-follow
        %h2.profile-username
          = @user.username
        %span
          - if @user == current_user
            = link_to t('profiles.show.edit'),
                      edit_profile_path(@user.username),
                      class: 'btn edit-btn'
          - else
            - if current_user_is_following(current_user.id, @user.id)
              = link_to t('profiles.show.following'), unfollow_user_path,
                                                      remote: true,
                                                      class: 'btn unfollow-btn',
                                                      id: 'unfollow-button',
                                                      method: :post
            - else
              = link_to t('profiles.show.follow'), follow_user_path,
                                                   remote: true,
                                                   class: 'btn follow-btn',
                                                   id: 'follow-button',
                                                   method: :post
      %p.profile-bio
        = @user.bio
      %ul.user-statistics
        %li.stat-count#post-count
          %span
            = @user.posts.size
          = 'post'.pluralize(@user.posts.size)
        %li.stat-count#follower-count
          %span
            = @user.followers.size
          = 'follower'.pluralize(@user.followers.size)
        %li.stat-count#following-count
          %span
            = @user.followings.size
          = 'following'.pluralize(@user.followings.size)
- @posts.each do |post|
  = render 'posts/post', post: post
