.registration-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .log-in.panel
          .panel-heading
            %h1
              = t('application.title')
          = simple_form_for(resource, as: resource_name,
                            url: registration_path(resource_name)) do |f|
            = f.error_notification
            %h2
              = t('registration.header.signup')
            .panel-body
              = f.input :email, required: true, autofocus: true, label: false,
                        placeholder: t('registration.email'),
                        input_html: { class: 'input-lg' }
              = f.input :username, required: true, label: false,
                        placeholder: t('registration.username'),
                        input_html: { class: 'input-lg' }
              = f.input :password, required: true, label: false,
                        placeholder: t('registration.password'),
                        input_html: { class: 'input-lg' }
              = f.input :password_confirmation, required: true, label: false,
                        placeholder: t('registration.password_confirmation'),
                        input_html: { class: 'input-lg' }
              = f.button :submit, t('registration.signup'),
                         class: 'btn-lg btn-info btn-block'
