$('#unfollow-button').text('Follow')
                     .attr('class', 'btn follow-btn')
                     .attr('href', '/<%= @user.username %>/follow_user')
                     .attr('id', 'follow-button');
$('#follower-count').html('<span><%= @user.followers.size %></span>' +
                          '<%= ' follower'.pluralize(@user.followers.size) %>');
$('#following-count').html('<span><%= @user.followings.size %></span>' +
                           '<%= ' following'.pluralize(@user.followings.size) %>');
