%li.notification__item
  .notification__avatar
    .notification__image
      = link_to profile_avatar_select(notification.notified_by),
                profile_path(notification.notified_by.username),
                class: 'avatar notification-avatar-link'
  .notification__link
    = link_to link_through_path(notification) do
      = t("notifications.item.#{notification.notice_type}",
          username: notification.notified_by.username)
    .time-ago
      = timeago_tag notification.created_at, nojs: true, force: true
