.panel-wrapper
  .panel-auth
    .logo-auth
      = image_tag("pixagram-logo.png", alt: "Pixagram")
    .form-auth
      = simple_form_for(resource, as: resource_name,
                        html: { autocomplete: 'off' },
                        url: session_path(resource_name)) do |f|
        = f.error_notification
        .panel-body
          = f.input :email, required: true, autofocus: true, label: false,
                    placeholder: t('registration.email'),
                    input_html: { class: 'input-auth' }
          = f.input :password, required: true, label: false,
                    placeholder: t('registration.password'),
                    input_html: { class: 'input-auth' }
          %span.button-auth
            = f.button :submit, t('registration.login'),
                       class: 'btn-auth'
  .panel-auth
    %p.text-auth
      Don't have an account?
      = link_to t('application.header.signup'),
                new_user_registration_path
