.posts-wrapper
  .post
    .post-head
      .username
        = link_to post.user.username, profile_path(post.user.username)
      .time-ago
        = timeago_tag post.created_at, nojs: true, force: true
    .post-image.center-block
      = link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post)
    .post-bottom
      = render 'posts/likes', post: post
      .description
        .description-content
          .username
            = post.user.username
          .description-text
            = post.description
        .comments{ id: "comments_#{post.id}" }
          - if post.comments
            = render post.comments, post: post
    .comment-like-form.row
      .col-sm-1.like-button
        = liked_post post
      .comment-form.col-sm-11
        = form_for([post, post.comments.build], remote: true) do |f|
          = f.text_field :thoughts, placeholder: t('comments.add'),
                                    class: "comment-content",
                                    id: "comment-content_#{post.id}"
          = f.submit t('comments.submit'), class: 'comment-submit-button'
