.text-center
  = image_tag @post.image.url(:medium)
.form-wrapper
  = simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f|
    .form-group
      = f.input :image
    .form-group.text-center
      = f.input :description
    .form-group.text-center
      = f.button :submit, class: 'btn-success'
.text-center.edit-links
  = link_to t('posts.edit.cancel'), posts_path
  |
  = link_to t('posts.edit.delete.link'), post_path(@post), method: :delete,
                                    data: { confirm: t('posts.edit.delete.confirm') }
