%footer.footer
  .footer-wrapper
    %nav.menu
      %ul.menu-list
        %li.menu-item
          = link_to 'About us', '#'
        %li.menu-item
          = link_to 'Support', '#'
        %li.menu-item
          = link_to 'Blog', '#'
        %li.menu-item
          = link_to 'Press', '#'
        %li.menu-item
          = link_to 'API', '#'
        %li.menu-item
          = link_to 'Jobs', '#'
        %li.menu-item
          = link_to 'Privacy', '#'
        %li.menu-item
          = link_to 'Terms', '#'
        %li.menu-item
          = link_to 'Directory', '#'
        %li.menu-item
          = link_to 'Language', '#'
    %span.copyright
      &copy; 2016
      = link_to 'Instagram', 'https://instagram.com'
      tribute by
      = link_to 'Yev Dyko', 'https://github.com/yevdyko'
