%nav.navbar
  .container
    .navbar-user-block
      - if user_signed_in?
        = render 'notifications/notification_dropdown'
        = link_to t('application.header.create_post'),
                  new_post_path,
                  class: 'user-block-link'
        %span.user-block-divider
          |
        = link_to t('application.header.logout'),
                  destroy_user_session_path,
                  class: 'user-block-link',
                  method: :delete
      - else
        = link_to t('application.header.get_app'),
                  root_path,
                  class: 'btn btn-getapp'
        = link_to t('application.header.signup'),
                  new_user_registration_path,
                  class: 'user-block-link'
        %span.user-block-divider
          |
        = link_to t('application.header.login'),
                  new_user_session_path,
                  class: 'user-block-link'
    .navbar-logo
      = link_to (image_tag 'pixagram-logo-with-icon.png', alt: 'Pixagram'),
                root_path
    .navbar-search
      = form_tag('/search', method: 'post') do
        = text_field_tag 'search', '', class: 'navbar-search-field',
                                       placeholder: 'Search'

